<%- include('partials/header') %>
  <section id="title">
    <div class="container-fluid">

     

<div style=" padding: 50px;  text-align: center;  background-color: #4B7C5D; color: black;">
  <h1>Welcome to the community</h1>
<br>
  <strong><p>Here we go check some awsome dogs and match a perfect match.</p> </strong>

</div>
 
<div style="background-color:#ff4c68; padding-bottom: 50px; ">


<br> <br>
<div class="row" style="  margin-left: 10px; margin-right: 10px;">
    <% usersWithSecrets.forEach(function(user){ %>
      <%   user.secret.forEach(function(x){   if(x !== '') { %>

      
      <div class="column col-4">
        <div class="card">
            <div class="card-header">
              <h3> <%=user.name%> </h3> <hr>
              <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*" class="dogimage" alt="">
              <h6  > Breed: <%=user.breed%> </h6>  
            </div>
              
      <p class="secret-text" style="font-size: 1.5rem; text-align: center;"><%= x %></p>
              
</div> </div>
        <% } })  %>
        <% }) %>
  </div>
  <!-- </div> -->
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button" style="margin-left: 300px; margin-right: 50px;   ">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit post</a>
  <!-- </div> -->
</div>
<%- include('partials/footer') %>
